* 

  {
  Margin: 0;
  Padding: 0;
  box-sizing: border-box;
  }


  html,
body {
    background-color:-;
    color: -;
    font-family: -;
    font-size: -;
    font-weight: -;
    text-rendering: optimizeLegibility;
    overflow-x: -;
}



/*webpage*/

.container {
    display: grid;
    width: 95%;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-gap: 0px 0px;
    grid-template-areas:
    "header"
    "section"
    "footer";
    border: 2px solid orange;
    justify-content: -;
    
          }



.header {
    grid-area: header;
    display: block;
    background: green;
}

.section {
    grid-area: section;
    display: block;
    background: red;
}

.footer {
    grid-area: footer;
    display: block;
    background: yellow;
}


.bo {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    padding: 15px;

     }
