* 

  {
  Margin: 0;
  Padding: 0;
  box-sizing: border-box;
  }


  html,
body {
    background-color:-;
    color: -;
    font-family: -;
    font-size: -;
    font-weight: -;
    text-rendering: optimizeLegibility;
    overflow-x: -;
}



/*webpage*/

.container {
    margin-left: 10%;
    display: grid;
    width: 80%;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-gap: 0px 0px;
/*
    grid-template-areas:
    "top top top top top top top top"
    "main main main main main main main main"
    "ft ft ft ft ft ft ft ft"; 
*/
    border: 2px solid orange;
    justify-content: -;
    
          }

.header {
/*    grid-area: top;*/
    display: block;
    background: green;
}

.section {
/*    grid-area: main;*/
    display: block;
    background: #fcfded;
    
    display: flex;
    flex-direction: 
}

.footer {
/*    grid-area: ft;*/
    display: block;
    background: yellow;
}


.bo {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    padding: 15px;

     }
